.footer {
  background-color: #292929;
  color: #fff;
  .footer__wrapper {
    margin: 37px 1px 1px 1px; // ?
    border: 1px solid rgba(255, 255, 255, 0.3); //rgba(62, 62, 62, 0.3); //#3e3e3e red;
    > p {
      text-align: center;
      font-size: 14pt;
      // margin-bottom: 18px;
    }
    > p:first-child {
      margin-bottom: 18px; // does not apply
    }
    > p:last-child {
      text-transform: uppercase;
      width: 90%;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 6px;
      padding-bottom: 6px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    .footer__address {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        margin-bottom: -4px;
      }
      p, h4 {
        width: 80%;
        text-align: center;
        font-size: 14pt;
      }
      p:nth-child(2) {
        margin-bottom: 3px;
      }
      p:last-child {
        width: 90%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 6px;
        padding-bottom: 6px;
        margin-bottom: 26px;
      }
    }
    .footer__social { 
      border-collapse: collapse;
      // border: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      table-layout: fixed;
      margin-bottom: 34px;
      td {
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        height: 100px;
      }
      a {
        color: #fff;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 4%;
      }
      .footer__vk {
        // color: #fff;
        background-image: url("../../img/vk-mob.png");
        // background-repeat: no-repeat;
        background-size: 100%;
        width: 23px;
        height: 26px;
      }
      .footer__fb {
        background-image: url("../../img/fb.png");
        width: 18px;
        height: 39px;
      }
      .footer__inst {
        background-image: url("../../img/inst.png");
        width: 36px;
        height: 36px;
      }
    }
  } // .footer__wrapper
}