@import "../variables";

.footer {
  background-color: #292929;
  color: #fff;
  .footer__wrapper {
    margin: 37px 1px 1px 1px; // ?
    border: 1px solid rgba(255, 255, 255, 0.3); //rgba(62, 62, 62, 0.3); //#3e3e3e red;
    > p {
      text-align: center;
      font-size: 14pt;
      // margin-bottom: 18px;
    }
    > p:first-child {
      margin-bottom: 18px; // does not apply
    }
    .footer__address {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        margin-bottom: -4px;
      }
      p, h4 {
        width: 80%;
        text-align: center;
        font-size: 14pt; //18px; 
      }
      p:nth-child(2) {
        margin-bottom: 3px;
      }
      p:last-child {
        width: 90%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 6px;
        padding-bottom: 6px;
        margin-bottom: 26px;
      }
    }
    .footer__social { // a tag
      display: table;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 34px;
      height: 50px;
      .footer__friendship {
        display: none;
      }
      .footer__soc-link {
        display: table-cell;
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        height: 98px;
        color: #fff;
        background-repeat: no-repeat;
        margin: 4%;
        vertical-align: middle;
      }
      .footer__vk, .footer__fb, .footer__inst {
        margin: auto;
      }
      .footer__vk {
        background-image: url("../../img/vk-mob.png");
        width: 23px;
        height: 26px;
      }
      .footer__fb {
        background-image: url("../../img/fb.png");
        width: 18px;
        height: 39px;
      }
      .footer__inst {
        background-image: url("../../img/inst.png");
        width: 36px;
        height: 36px;
      }
    } //.footer__social 
    .footer__company  {
      .footer__company-wrapper {
        > p {
          text-align: center;
          font-size: 14pt;
        // margin-bottom: 18px;
        }
        > p:last-child {
          text-transform: uppercase;
          width: 90%;
          border: 1px solid rgba(255, 255, 255, 0.3);
          padding-top: 6px;
          padding-bottom: 6px;
          margin: 0 auto;
          margin-bottom: 24px;
          font-weight: bold;
        }
      }
    } //.footer__company
  } // .footer__wrapper
}

@media only screen and (min-width: $tablet-width) {
  .footer {
    .footer__wrapper {
      width: 83%;
      margin: 56px auto;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .footer__address {
        width: 70%;
        order: 0;
        display: flex;
        // justify-content: center;
        align-items: flex-start;
        h4 {
          text-align: left;
          margin: 0 0 24px 0;
          text-transform: uppercase;
        }
        > p {
          text-align: left;
          margin: 0 0 0 0;
          width: initial;
        }
        .footer__phone {
          border: none !important;
        }
      }
      .footer__social {
        width: 100%;
        order: 2;
        .footer__friendship {
          display: none;
        }
      }
      .footer__company {
        width: 30%;
        order: 1;
        .footer__company-wrapper {
          p:last-child {
            width: 98%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .footer {
    .footer__wrapper {
      width: 80%;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: flex-end;
      .footer__address {
        width: 33.3%;
        .footer__phone {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }
      .footer__social {
        order: 1;
        width: 33.3%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
        height: 100%;
        .footer__friendship_show {
          width: 100%;
          text-align: center;
        }
        .footer__soc-link {
          height: 54px; // should be 54px
          width: 16.7%;
          margin: 0 1%; // 6px between cells in psd
          // position: relative; // for absolute centering images
          .footer__vk, .footer__fb, .footer__inst {
            background-size: 56%;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);  // vertical-align
          }
        }

      }
      .footer__company {
        order: 2;
        width: 33.3%;
        .footer__company-wrapper {
          width: 51.2%; // 180px
          float: right;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}