@import "../variables";

.header {
  color: #fff;
  
  .header__mobile-logo {
    width: 100%;
    height: 85px;
    background-color: #242424;
    background-image: url("../../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-size: 70%; //?
    background-position: center;
  }
  .header__strip {
    display: flex;
    // flex-direction: column; // default row
    background-color: #826550;
    justify-content: center;
    align-items: center; // aligns along the cross-axis
    p {
    text-transform: uppercase;
    // align-self: center;
    margin-left: auto;
    }
    .header__hamburger {
      height: 50px;
      width: 8%;
      background-image: url("../../img/menu-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      margin-left: auto;
      // align-self: flex-end; // does not do anything 
      // float: right; // does not do anything 
    }
  }
  ul {
    display: none;
    // display: flex;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 890px; // not responsive with width prop when decreasing viewport's width
    flex-direction: column;
    background-color: #826550;
    li {
      justify-content: center;
      margin-right: auto;
    } 
    li:last-child{
      // margin-left: auto;
    }
  }
} // end of .header


@media only screen and (min-width: $mobile-width) {
  .header {
    background-image: url("../../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

    .header__strip {
      display: none;
    }
    .header__menu {
      ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 890px; // not responsive with width prop when decreasing viewport's width
        flex-direction: row;
        background-color: transparent;
        li {
          margin-right: auto;
        } 
        li:last-child {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  } // end of .header
}