@import "../variables";

@font-face { font-family: PTSansNarrow; src: url("../fonts/pt-sans-narrow.ttf"); }

body {
  display: flex;
  // height: 100%;
  // max-width: 1600px;
  flex-direction: column;
  margin: 0 auto;
  // padding: 16px 8px 0;
  font-family: 'PTSansNarrow', sans-serif;
}
h1 {
  color: green;
  background-color: grey;
}
// p {
//   margin-top: 0px;
// }
.btn{
  background-color: transparent;
  border: 0;
}

.owl-dots {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  .owl-dot {
    background-image: url("../../img/dot.png");
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 16px;
  }
  .owl-dot.active{
    background-image: url("../../img/dot-active.png");
  }
}
.owl-carousel.off {
  display: block;
}
@media only screen and (max-width: 768px) {
  // .owl-dots {
  //   position: relative;
  //   top: 0;
  // }
  .owl-prev, .owl-next {
    display: none;
  }
}