body {
  display: flex;
  height: 100%;
  max-width: 1600px;
  flex-direction: column;
  margin: 0 auto;
  background-color: grey;
  // padding: 16px 8px 0;
}
h1 {
  color: green;
  background-color: grey;
}