.news {
  background-color: #f8f5f2;
  font-size: 16pt;
  > p {
    text-transform: uppercase;
    font-size: 26pt;
    text-align: center;  
  }
  .news__block {
    line-height: 24pt;
  }


}