@import "../variables";

.news {
  background-color: #f8f5f2;
  font-size: 16pt;
  .news__wrapper {
    width: 95%;
    margin: 0 auto 30px auto;
      > h2 {
        text-transform: uppercase;
        font-size: 26pt;
        text-align: center;  
        margin-top: 65px; //psd 37px
        margin-bottom: 18px;  //38px to the paragraph capital letter
      }
      p:first-child {
        margin-bottom: 10px;
      }
      .news__block {
        line-height: 22pt;
        display: flex;
        align-items: baseline;
        p {
          // width: 75%;
          // display: inline-block;
          margin-top: 0;
          // vertical-align: top;
        }
        .news__date {
          height: 50px;
          width: 35px; //70px; // displays less, 50px and should be 50px as in psd.
          padding-left: 10px;
          padding-right: 10px;
          background-color: #000000;
          color: #fff;
          position: relative;
          top: 12px;
          // display: inline-block;
          margin-right: 20px;
          // vertical-align: top;
          // margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;
          // font-size: 20px;
          &::after { // triangle part
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0px;
            background-color: #000000; 
            background: linear-gradient(to bottom left, #000000, #000001 53%,  transparent 54%);
            // z-index: -1;
            width: 50.2%;
            height: 11px;
          }
          &::before {  // triangle part
            content: "";
            position: absolute;
            bottom: -10px;
            right: 0px;
            background-color: #000000; 
            background: linear-gradient(to bottom right, #000000, #000001 53%,  transparent 54%);
            // z-index: -1;
            width: 50.2%;
            height: 11px;
          }
          p {
            // text-align: center;
            line-height: 14px;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
          }
          p:first-child {
            font-size: 22px;
            font-weight: 600;
          }
          p:last-child {
            font-size: 14px;
          }
        } // end of news__date
      } // end of news__block
      .news__block-desktop {
        display: none;
      }

      // .news__block1 { // how to select the right way?
      //   border-bottom: 1px solid #e5ddd5;
      // }

      button {
        margin: 0 auto;
        display: block;  // specifying this for margin: 0 auto to work
        width: 100%;
        height: 50px;
        background-color: #f8f5f2;
        border: 1px solid #e5ddd5;
      }
  } // end of news wrapper

  hr {
    color: #e5ddd5; 
    margin-bottom: 11px; 
  }
}

@media only screen and (min-width: 768px) {
  .news {
    padding-top: 92px; // 52px psd
    .news__wrapper {
      width: 83%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > h2 {
        flex-basis: 50%;
        order: 0;
        margin-top: 0;
        margin-bottom: 70px; // psd top margin 50px, bottom 70px
        // margin-left: 2%;
        text-align: left;
      }
      .news__block {
        flex-basis: 44%;
      }
      .news__block1 {
        order: 2;
        margin-right: 4%;
      }
      .news__block2 {
        order: 3;
      }
      > button {
        flex-basis: 20%;
        order: 1;
        margin: 0;
        margin-left: auto;
        margin-bottom: 70px;
        // align-self: flex-end;
      }
    }
    hr {
      margin-bottom: 26px; //psd 46px
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .news {
    padding-top: 123px; //63px from the stats triangle in psd
    .news__wrapper {
      width: 80%;
      > h2 {
        margin-left: 5.5%; // text-align: center;
      }
      .news__block {
        flex-basis: 30%;
      }
      .news__block-desktop {
        display: flex;
        order: 4;
      }
    }
  }
}