.reviews {
  > h2 {
    margin: 30px auto 36px; // taken from psd
    text-align: center;
    text-transform: uppercase;
    font-size: 26pt;
  }
  .reviews__slider {
    .owl-dots {  
      width: 100%;
      margin-top: 20px;
      text-align: center;
      .owl-dot {
        background-image: url("../../img/blackDot.png");
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 0 16px;
      }
      .owl-dot.active {
        background-image: url("../../img/blackDot-active.png");
      }
    }
    .reviews__slide {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .reviews__reviewer {
        background-image: url("../../img/travis.png");
        width: 48px;
        height: 46px;
        //background-position: center; 
        background-size: contain;
        background-repeat: no-repeat;
        // float: left;
        // margin-right: 8px;
        flex-shrink: 0;
        align-self: baseline;
        margin-right: 20px;
      }
      .reviews__text {
        //overflow: hidden; // to stop go under floated image
        h3 {
          margin: 0 0 20px 0;
        }
        p {
          margin: 0;
        }
      }
    }
  } // reviews__slider
}

