@import "../variables";

.reviews {
  position: relative;
  background-color: #f8f5f2;
  .reviews__wrapper {
    width: 95%;
    margin: 0 auto 12px; // 53px as in psd
    > h2 {
      margin: 13px auto 24px; // taken from psd, top 30px, bottom 38px
      text-align: center;
      text-transform: uppercase;
      font-size: 26pt;
    }
    p {
      font-size: 16pt;
    }
    .reviews__slider {
      .owl-dots {  
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .owl-dot {
          background-image: url("../../img/blackDot.png");
          width: 10px;
          height: 10px;
          display: inline-block;
          margin: 0 16px;
        }
        .owl-dot.active {
          background-image: url("../../img/blackDot-active.png");
        }
      }
      .reviews__slide {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 9px; //80px;
        .reviews__reviewer {
          background-image: url("../../img/travis.png");
          width: 48px;
          height: 46px;
          background-size: contain;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-right: 20px;
          margin-top: 8px;
        }
        .reviews__text {
          //overflow: hidden; // to stop go under floated image
          h3 {
            margin: 0 0 20px 0;
            font-size: 20pt;
          }
          p {
            margin: 0;
          }
        }
      }
    } // reviews__slider

    &:after {
      content: "";
      position: absolute;
      bottom: -37px;
      left: 0px;
      background-color: #242424;
      background: linear-gradient(to bottom left, #f8f5f2, #f8f5f3 50%,  transparent 51%);
      z-index: -1;
      width: 50%;
      height: 37px;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -37px;
      right: 0px;
      background-color: #242424;
      background: linear-gradient(to bottom right, #f8f5f2, #f8f5f3 50%,  transparent 51%);
      z-index: -1;
      width: 50%;
      height: 37px;
      z-index: 1;
    }
  } // .reviews__wrapper
}

@media only screen and (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 72px;
    .reviews__wrapper {
      margin: 0 auto;
      &::before, &::after {
        display: none;
      }
      .reviews__slider {
          // border: 1px solid blue;
          width: 77%;
          height: 160px;
          margin: 0 auto;
          // position: relative;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          position: relative;
          z-index: 20;
        .owl-nav {
          position: absolute;
          top: -1px; 
          right: -6%; //-51px;
          border: 1px solid #e5ddd5;
          display: flex;
          justify-content: space-between;
          height: 160px;
          width: 112%;
          z-index: -2;
        }
        .owl-dots { 
          position: relative;
          top: -9px;
          margin-top: 0;
          z-index: 21;
          background-color: #f8f5f2;
          width: 140px;
          margin-right: auto;
          margin-left: auto;
        }
        .owl-prev, .owl-next {
          // background-repeat: no-repeat;
          // background-position: center;
          // z-index: 20;
          position: relative;
          top: 0;
          display: inline-block;
          //border: 1px solid #e5ddd5;
          width: 48px;
          height: 160px;
          z-index: 21;
        }
        .owl-next {
          right: 0;
          border-left: 1px solid #e5ddd5;
          &::after{
            content: "";
            background-image: url("../../img/right-arrow.svg");
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .owl-prev {
          border-right: 1px solid #e5ddd5;
          &::after{
            content: "";
            background-image: url("../../img/left-arrow.svg");
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .reviews__slide {
          width: 66%; 
          margin: 0 auto;
          height: 160px;
          justify-content: center;
          align-items: center; //does not work
          position: relative; // for absolute position of owl-prev. .owl-next
          z-index: 20;
          .reviews__reviewer {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-size: 156%; // 134px same effect
            background-position: 50% 50%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 94px; // 100px psd, 94px so that dots will be in the middle
    .reviews__wrapper {
      margin: 0 auto 4px; //46px bottom psd
      .reviews__slider {
        border: 1px solid #e5ddd5;
        width: 74%; //to make 120px on each side
        .owl-nav {
          right: -7%;
          width: 114%;
          border: none;
        }
        .owl-prev, .owl-next {
          border: 1px solid #e5ddd5;
        }
        .owl-dots { 
          top: 38px; //42px psd
        }
        .reviews__slide {
          width: 100%;
          .reviews__reviewer {
            border-radius: 0;
            background-size: contain;
            background-position: center;
            height: 160px;
            width: 250px;
            margin: 0 8% 0 -1px; // 68px margin-right psd
            padding-left: 1px;
          }
          .reviews__text {
            margin-right: 8%;
          }
        }
      }
    }
  }
}