.stats {
  // margin-bottom: 0;
  // background-color: #242424;
  .stats__teaser {
    margin: 0 auto;
    background-color: #ffffff;
    p {
      text-align: center;
    }
    p:first-child {
      text-transform: uppercase;
      font-weight: bold;
    }
    p:last-child {
      display: none;
    }
  }
  .stats__figures {
    color: #fff;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-left: 4%;
        margin-right: 4%;
        span {
          // align-self: flex-start; does not work
          font-size: 26pt;
          vertical-align: text-top;
        }
      }
      p:first-child {
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        font-size: 38px; //40pt;
      }
      p:last-child {
        text-align: right;
        font-size: 16pt; //18pt;
      }
    }
    div:first-child {
      background-color: #404040;
    }
    div:nth-child(2) {
      background-color: #4e4e4e;
    }
    div:nth-child(3) {
      background-color: #353535;
    }
    div:last-child {
      background-color: #404040;
    }

  }
}


@media only screen and (min-width: 768px) {
  .stats {
    margin-top: -184px;
    position: relative;
    z-index: 5;
    .stats__wrapper {
      width: 80%;
      margin: 0 auto;
      position: relative;
      z-index: 6;
      // background-color: #242424;
      .stats__teaser {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 184px;
        p:last-child {
          display: block;
        }
      }
      .stats__figures {
        display: flex;
        flex-wrap: wrap;
        > div {
          // width: 50%;
          flex-basis: 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .stats {

    .stats__teaser {
      float: left;
    } 
  }
}