.stats {
  .stats__teaser {
    margin: 0 auto;
    p {
      text-align: center;
    }
    p:first-child {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .stats__figures {
    div p:first-child {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}